<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<head th:replace="fragments/header :: header">
</head>

<body>

<!-- 메뉴 -->
<nav th:replace="fragments/nav :: nav"></nav>

<!-- 본문-->
<div class="container-fluid p-0">
    <nav th:replace="fragments/userNav :: userNav"></nav>
    <section class="resume-section">
        <div class="resume-section-content">

            <table class="table" style="text-align: left">
                <tr>
                    <th>게시판</th>
                    <td th:text="${board.category.name}">게시판</td>
                    <th>제목</th>
                    <td th:text="${board.title}">제목</td>
                    <th>작성일</th>
                    <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}">작성일</td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td th:text="${board.user.nickname}">작성자</td>
                    <th>수정일</th>
                    <td th:text="*{#temporals.format(board.updatedTime, 'yyyy-MM-dd HH:mm:ss')}">수정일</td>
                    <th>조회수</th>
                    <td th:text="${board.boardHits}">조회수</td>

                </tr>
            </table>

            <br>

            <div>
                <p th:text="${board.content}">글내용</p>
            </div>

            <br><br><br><hr>

            <div id="view-menu">
                <span>
                    <svg id="like" xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 512 512"><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                </span>
                <span th:if="${loginId == board.user.loginId}" class="fl" style="float: right">
                    <input class="btn-two orange" type="button" value="수정" onclick="goModify()" />
                    <input class="btn-two orange" type="button" value="삭제" onclick="goDelete()" />
                    <input class="btn-two orange" type="button" value="목록" onclick="goList()" />
                </span>

                <span th:unless="${loginId == board.user.loginId}" class="fl" style="float: right">
                    <input class="btn-two orange" type="button" value="목록" onclick="goList()" />
                    <input th:if="${isAdmin}" class="btn-two orange" type="button" value="삭제" onclick="goDelete()" />
                </span>
            </div>

            <br><br><br><br>


            <!-- 댓글 -->
            <div class="card mb-2">
                <div class="card-header bg-light">
                    <i class="fa fa-comment fa"></i> REPLY
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="form-inline mb-2">
                                <!-- Comments section-->
                                <section class="mb-1">
                                    <!-- Recursive function to render comments -->
                                    <div th:replace="fragments/comments :: renderComments(${comments}, 0)"></div>
                                </section>
                            </div>

                            <!-- 댓글 입력-->
                            <form method="post" action="/board/comment">
                                <input type="hidden" name="board" th:value="${board.id}">
                                <textarea class="form-control" id="input_comment" name="content" rows="3"></textarea>
                                <button type="submit" class="btn btn-dark mt-3">댓글 등록</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>






        </div>
    </section>
    <hr class="m-0" />
</div>
<script th:inline="javascript">

    /*좋아요*/
    var heartState = [[${heartState}]];
    var like = document.getElementById("like");

    if(heartState != null) {
        like.classList.toggle('active');
    }

    like.addEventListener('click',function(){
        location.href = "/board/heart/" + [[${board.id}]];

    });


    const goModify = () => {
        location.href = "/board/update/" + [[${board.id}]];
    }

    const goDelete = () => {
        location.href = "/board/delete/" + [[${board.id}]];

    }

    const goList = () => {
        location.href = "/";
    }

    const goReply = (comment_id) => {
        var input = document.getElementById('input_comment');
        input.scrollIntoView();
        input.focus();
        input.placeholder = '답글을 다는 중 입니다.';

        const newDivElement = document.createElement('input');
        newDivElement.type = 'hidden';
        newDivElement.name = 'parent';
        newDivElement.value = comment_id;
        newDivElement.readOnly;

        input.parentElement.append(newDivElement);
    }

</script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
