<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<head th:replace="fragments/header :: header">
</head>

<body>

<!-- 메뉴 -->
<nav th:replace="fragments/nav :: nav"></nav>

    <!-- 본문-->
    <div class="container-fluid p-0">
        <nav th:replace="fragments/userNav :: userNav"></nav>
        <section class="resume-section">
            <div class="resume-section-content">

                <div th:if="${pageName != null}">
                    <h2 th:text="${pageName}"></h2> <br><br>
                </div>


                <table class="table">
                    <tr>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>

                    <tr th:each="board : ${boards}">
                        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a></td>
                        <td th:if="${#strings.length(board.content) > 15}" th:text="${#strings.substring(board.content, 0, 15) + '...'}">내용</td>
                        <td th:if="${#strings.length(board.content) < 15}" th:text="${board.content}">내용</td>
                        <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd')}">작성일</td>
                        <td th:text="${board.boardHits}">조회수</td>
                    </tr>

                </table>

                <br><br>

                <!-- Search -->
                <div style="text-align: center">
                    <form>
                        <input type="search" placeholder="Search">
                        <button type="submit">Search</button>
                    </form>
                </div>

                <br><br>

                    <!-- Paging -->
                <div>
                    <ul class="pagination">
                        <li class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}">
                            <a class="page-link" th:if="${page == boards.number + 1}" th:text="${page}">1</a>
                            <a class="page-link" th:unless="${page == boards.number + 1}" th:href="@{/(page=${page})}" th:text="${page}">1</a>
                        </li>
                    </ul>
                </div>




            </div>
        </section>
        <hr class="m-0" />
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>
</html>
